* {
    overflow: auto;
}

body {
    background-color: #8ba1bb;
    font-family: Arial;
    margin: 0px;
}

p.categorie {
    background-color: black;
    color: white;
    padding: 10px 18px;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
}

div.categorie {
    margin-top: -25px;
}

div.contenu {
    background-color: white;
    margin: 60px 10px 100px 10px;
    padding: 10px 10px 30px 10px;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.2);
    overflow: visible;
}

h1 {
    text-align: center;
    margin-bottom: 12px;
    margin-top: 16px;
    font-size: 40px;
}

p.description {
    text-align: center;
    margin: 0px 30px 20px 30px;
    font-size: 15px;
    max-width: 400px;
    /* background-color: blue; */
    display: inline-block;
}

.centre {
    text-align: center;
    width: 100%;
    /* background-color: yellow; */
}

div.separateur {
    width: 100px;
    height: 1px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}

div.description {
    margin-top: 15px;
}

.relative {
    position: relative;
}

table.info {
    position: absolute; 
    bottom: 0px; 
    width:100%; 
    height: 50px; 
    background-color: #6C829DC0; 
    color: white;
    margin: 0;
    padding: 0;
}

table.info td {
    font-size: 12px;
    text-align: center;
    vertical-align: top;
}

table.info th {
    font-size: 14px;
    text-align: center;
    vertical-align: bottom;
    padding-bottom: 6px;
}

img.info {
    display: block; 
    max-height: 400px; 
    min-height: 200px;
    background-color: lightgray;
    object-fit: cover;
}

div.colonne1, div.colonne2 {
    width: 100%;
}

div.colonne1 {
    display: inline-block;
    margin-right: 0;
}

.colonne {
    margin-top: 20px;
}

.colonne h2 {
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 5px solid #6C829D;
}

.ingredients p {
    text-align: center;
    font-size: 14px;
    border: 1px solid lightgray;
    margin-top: 5px;
    margin-bottom: 0px;
    display: block;
    padding: 6px 5px;
}


.numero {
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    background-color: #6C829D;
    color: white;
    border-radius: 50%;
    text-align: center;
    padding-top: 4px;
    margin: 0;
    font-weight: bold;
}

table.preparation td {
    vertical-align: top;
    font-size: 14px;
}

table.preparation td.description_etape {
    padding-left: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
}

table.preparation tr {
    height: 40px;
}


/* RESPONSIVE */
/* Ordinateur */
@media only screen and (min-width: 768px) {
    div.contenu {
        min-width: 400px;
        margin-left: 10%;
        margin-right: 10%;
        padding-right: 30px;
        padding-left: 30px;
    }

    table.info {
        height: 75px;
    }

    table.info td {
        font-size: 15px;
    }

    table.info th {
        font-size: 17px;
    }

    div.colonne1, div.colonne2 {
        width: 45%;
    }
    
    div.colonne1 {
        margin-right: 10%;
    }

    div.colonne2 {
        float: right;
    }
}

@media only screen and (min-width: 900px) {
    div.contenu {
        width: 650px;
        margin-left: auto;
        margin-right: auto;
    }
}
